.about-hero {
    text-align: center;
    padding: 40px 20px 20px;
    /* space कमी केला */
    background: transparent;
}

.about-hero h2 {
    font-size: 38px;
    color: #a87917;
    margin-bottom: 8px;
}

.about-hero img {
    width: 85%;
    max-width: 1100px;
    margin-top: 10px;
}

.about-line {
    width: 60px;
    height: 6px;
    background: #b9dada;
    margin: 10px auto 20px;
    border-radius: 10px;
}


/* Our Story */

.ourstory {
    max-width: 900px;
    margin: 60px auto;
    text-align: center;
    padding: 0 20px;
    line-height: 1.9;
    font-size: 18px;
    color: #333;
}

.ourstory p {
    margin-bottom: 20px;
}


/* SHOP GALLERY */

.shop-gallery {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.shop-gallery img {
    width: 900px;
    border-radius: 10px;
}

/* PROMISE */

.promise {
    text-align: center;
    padding: 80px 20px;
    background: #fffaf6;
}

.promise h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.promise-text {
    max-width: 700px;
    margin: 0 auto 50px;
    color: #666;
    line-height: 1.6;
    font-size: 16px;
}

.promise-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 1100px;
    margin: auto;
}

.promise-card {
    text-align: center;
    padding: 20px;
}

.promise-card img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

.promise-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.promise-card p {
    font-size: 14px;
    color: #777;
}

/* Responsive */

@media(max-width:900px) {
    .promise-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:500px) {
    .promise-grid {
        grid-template-columns: 1fr;
    }
}

/* ABOUT GALLERY */

/* ABOUT GALLERY */

.about-gallery {
    padding: 80px 20px;
    background: #fff;
    text-align: center;
}

.gallery-container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.gallery-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 768px) {
    .about-hero h2 {
        font-size: 32px;
    }
    .about-hero img {
        width: 100%;
    }
    .ourstory {
        font-size: 16px;
        margin: 40px auto;
    }
    .shop-gallery {
        padding: 30px 20px;
    }
    .shop-gallery img {
        width: 100%;
        height: auto;
    }
    .gallery-container img {
        height: 300px;
    }
    .promise {
        padding: 50px 20px;
    }
}